<aside class="desktop-show" id="aside-sidebar">

    <div class="aside-inner">
        {% comment %} DEZE OPENEN MET HAMBURGER MENU??? {% endcomment %}
        <input type="radio" id="Live" name="toggle" checked>
        <labelfor="Live">Live</label>

        <input type="radio" id="Stations" name="toggle">
        <label for="Stations">Stations</label>
        <div class="aside-live" data-sidebar-section="live">

        </div>
        <div class="aside-stations" data-sidebar-section="stations">
            <div class="wrapper-container">
                <p class="text-l">Bekijk andere radiostations</p>
                {% for radiostation in radiostations %}
                    {% if radiostation.id != thisstation %}
                        <div class="one-radiostation">
                            <a href="/station/{{radiostation.id}}">
                                <img src="https://fdnd-agency.directus.app/assets/{{radiostation.logo}}" alt="Logo van {{radiostation.name }}">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</aside>