{% render 'partials/head.liquid' title: "Mediahuis" %}
{% render 'partials/header.liquid' v: "h" title: "Mediahuis" %}{% comment %} Version : Home {% endcomment %}

<main>
    <div class="main-wrapper-container">
        <h1>Radiostations</h1>
        {% for radiostation in radiostations %}

            <div class="one-radiostation">
                <a href="/station/{{radiostation.id}}">
                    <img src="https://fdnd-agency.directus.app/assets/{{radiostation.logo}}" alt="Logo van {{radiostation.name }}">
                </a>
            </div>
            
        {% endfor %}

    </div>
</main>