main.radio-station{
    background-color: var(--color-bg);
    max-width: calc(100vw - 17px);
    padding-bottom: 125px; /* fixed footer */
    @media (min-width: 680px){
        padding-bottom: 35px;
    }
    .part-sticky{
        position: sticky;
        top: 65px;
        padding-top: 1rem;
        background-color: var(--color-bg);
        z-index: 5;
        &:after{
            content: "";
            position: absolute;
            top: 100%;
            height: 10px;
            background-image:linear-gradient(to bottom,var(--color-bg) calc(100% - 2rem),rgba(255,255,255,0));
        }
        &.top-wrapper{
            display: grid;
            gap: 24px;
            nav.sticky-menu-top{
                position: relative;
                width: calc(100vw - 17px);
                &:after{
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    background-color: var(--color-light);
                    z-index: -1;
                }
                ul{
                    display: flex;
                    list-style: none;
                    justify-content: space-between;
                    padding: 0 2rem;
                    overflow-x: auto;
                    gap: 32px;
                    li{
                        height: 2rem;
                        display: flex;
                        justify-content: center;
                        flex: 1;
                        a{
                            display: block;
                            height: 100%;
                            width: fit-content;
                            color: var(--color-text-ghost);
                            font-weight: 900;
                            text-transform: uppercase;
                            &:hover, &:focus{
                                color: var(--color-secondary);

                                border-bottom: 1px solid var(--color-secondary);
                            }
                        }
                    }
                }  
                
            }
            nav.day-menu{
                width: calc(100vw - 17px);
                ul{
                    display: flex;
                    list-style: none;
                    justify-content: start;
                    padding: 0 20px;
                    overflow-x: auto;
                    gap: 10px;
                    li{
                        min-width: 4.2rem;
                        a{
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            gap: 8px;
                            height: 56px;
                            font-size: var(--text-s);
                            color: var(--color-text-header);
                            b{
                                color: var(--color-text-header);
                            }
                            &.active, &:hover, &:focus{
                                background-color: var(--color-secondary);
                                color: var(--color-white);
                                b{
                                    color: var(--color-white);
                                }
                            }
                        }
                    }
                }
            }

        }
    }
    .overview-shows{
        display: grid;
        margin-top: 2rem;
        grid-template-columns: 50px 1fr;
        padding: 0 20px;
        grid-template-rows: auto 1fr;
        .text-xl{
            grid-column: 1/-1;
            margin-bottom: 2rem;
            text-align: center;
        }
        .timeline-wrapper{
            z-index: 1;
            position: relative;
            .current-time{
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: var(--color-secondary);
                border-radius: 50%;
                &:after{
                    left: 100%;
                    position: absolute;
                    content: '';
                    height: 1px;
                    background-color: var(--color-secondary);
                    width: calc(100vw - 50px);
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .timeline{
                height: var(--one-day);
                .hour{
                    height: calc(1/24*100%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: var(--color-timeline);
                    font-size: var(--text-s);
                    .dots{
                        width: 0px;
                        border-right: 2px dashed var(--color-light);
                        height: 64px;
                    }
                    &.hour-end{
                        justify-content: start;
                        align-items: start;
                        gap: 0;
                        height: initial !important;
                    }
                }
                
            }
        }
        .show-wrapper{
            z-index: 2;
            height: var(--one-day);
            display: flex;
            flex-direction: column;
            .card-show{
                background-color: var(--color-card-bg);
                border-radius: 8px;
                display: grid;
                grid-template-columns: min-content 1fr min-content;
                grid-template-rows: min-content 1fr min-content min-content;
                align-items: center;
                figure{
                    border-right: 1px solid var(--color-light);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-self: center;
                    grid-row: 1/-1;
                    img{
                        max-width: 40px;
                        max-height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin: 0 12px;
                    }
                }

                .part-content{
                    padding: 1rem 12px 1rem 1rem;
                    grid-row: 1 / -1;
                    height: 100%;
                    display: grid;
                    grid-template-rows: min-content 1fr min-content min-content;
                    .text-l{
                        text-transform: uppercase;
                        margin-bottom: 4px;
                        font-size: clamp(12px, 3vw, 2rem);
                    }
                    p.body{
                        font-size: clamp(10px, 3vw, 1rem);
                        grid-row: 2;
                        color: var(--color-card-txt);
                    }
                    p.show-time, p.show-deejay{
                        font-size: clamp(10px, 3vw, 1rem);
                    }
                    svg{
                        height: clamp(10px, 3vw, 1rem);
                        width: clamp(10px, 3vw, 1rem);
                    }
                }
                &.short-show{
                    .part-content{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        p.show-deejay{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}